.cityList--js.cityList--block
  .cityList
    li
      a(
        href='#',
        data-title='Новосибирск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Новосибирске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Новосибирск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Новосибирск
    li
      a(
        href='#',
        data-title='Орел Оренбург',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Новосибирске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Орел Оренбург, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Орел Оренбург
    li
      a(
        href='#',
        data-title='Пенза',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Пензе ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Пенза, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Пенза
    li
      a(
        href='#',
        data-title='Ростов-на-дону',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Ростов-на-дону ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Ростов-на-дону, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Ростов-на-дону
    li
      a(
        href='#',
        data-title='Рязань',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Рязани ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Рязань, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Рязань
    li
      a(
        href='#',
        data-title='Саратов',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Саратове ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Саратов, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Саратов
    li
      a(
        href='#',
        data-title='Саранск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Саранске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Саранск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Саранск
  .cityList
    li
      a(
        href='#',
        data-title='Смоленск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Смоленске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Смоленск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Смоленск
    li
      a(
        href='#',
        data-title='Ставрополь',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Ставрополе ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Ставрополь, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Ставрополь
    li
      a(
        href='#',
        data-title='Самара',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Самаре ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Самара, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Самара
    li
      a(
        href='#',
        data-title='Тамбов',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Тамбове ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Тамбов, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Тамбов
    li
      a(
        href='#',
        data-title='Тула',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Туле ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Тула, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Тула
    li
      a(
        href='#',
        data-title='Ульяновск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Ульяновске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Ульяновск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Ульяновск
    li
      a(
        href='#',
        data-title='Уфа',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Уфе ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Уфа, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Уфа
