.cityList--js.cityList--block
  .cityList
    li
      a.active(
        href='#',
        data-title='Воронеж',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Воронеже ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Воронеж, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='22.2539075'
      ) Воронеж
    li
      a(
        href='#',
        data-title='Барнаул',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Барнауле ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Барнаул, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='21.2539075'
      ) Барнаул
    li
      a(
        href='#',
        data-title='Брянск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Брянске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Брянск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='20.2539075'
      ) Брянск
    li
      a(
        href='#',
        data-title='Белгород',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Белгороде ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Белгород, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Белгород
    li
      a(
        href='#',
        data-title='Волгоград',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Волгограде ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Волгоград, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Волгоград
    li
      a(
        href='#',
        data-title='Волжский',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Барнауле ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Волжский, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Волжский
    li
      a(
        href='#',
        data-title='Екатеринбург',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Екатеринбурге ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Екатеринбург, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Екатеринбург
  .cityList
    li
      a(
        href='#',
        data-title='Казань',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Казани ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Казань, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Казань
    li
      a(
        href='#',
        data-title='Калининград',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Калининграде ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Калининград, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Калининград
    li
      a(
        href='#',
        data-title='Краснодар',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Краснодаре ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Краснодар, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Краснодар
    li
      a(
        href='#',
        data-title='Курск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Курске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Курск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Курск
    li
      a(
        href='#',
        data-title='Липецк',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Липецке ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Липецк, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Липецк
    li
      a(
        href='#',
        data-title='Москва',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Москве ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Москва, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Москва
    li
      a(
        href='#',
        data-title='Нижний Новгород',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Нижнем Новгороде ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Нижний Новгород, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Нижний Новгород
  .cityList
    li
      a(
        href='#',
        data-title='Новосибирск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Новосибирске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Новосибирск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Новосибирск
    li
      a(
        href='#',
        data-title='Орел Оренбург',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Новосибирске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Орел Оренбург, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Орел Оренбург
    li
      a(
        href='#',
        data-title='Пенза',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Пензе ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Пенза, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Пенза
    li
      a(
        href='#',
        data-title='Ростов-на-дону',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Ростов-на-дону ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Ростов-на-дону, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Ростов-на-дону
    li
      a(
        href='#',
        data-title='Рязань',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Рязани ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Рязань, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Рязань
    li
      a(
        href='#',
        data-title='Саратов',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Саратове ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Саратов, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Саратов
    li
      a(
        href='#',
        data-title='Саранск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Саранске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Саранск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Саранск
  .cityList
    li
      a(
        href='#',
        data-title='Смоленск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Смоленске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Смоленск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Смоленск
    li
      a(
        href='#',
        data-title='Ставрополь',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Ставрополе ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Ставрополь, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Ставрополь
    li
      a(
        href='#',
        data-title='Самара',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Самаре ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Самара, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Самара
    li
      a(
        href='#',
        data-title='Тамбов',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Тамбове ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Тамбов, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Тамбов
    li
      a(
        href='#',
        data-title='Тула',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Туле ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Тула, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Тула
    li
      a(
        href='#',
        data-title='Ульяновск',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Ульяновске ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Ульяновск, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Ульяновск
    li
      a(
        href='#',
        data-title='Уфа',
        data-desc='Производство и продажа подшипников и карданных валов в Барнауле.',
        data-status='Торговый партнер FKL в Уфе ООО "Яромир"',
        data-phone='+7 (961) 231-80-36',
        data-mail='office.brn@yaromir22.ru',
        data-address='г. Уфа, ул.Павловский тракт, 331А, офис 9',
        data-work='с 08:00 до 17:00, Сб, Вс — выходной',
        data-mapx='42.6389981',
        data-mapy='23.2539075'
      ) Уфа
